<ons-page id="mymoods_daily_log">
    <!-- Show daily calorie progress -->
    
    <div class="screen_middle">
        <h1 style="font-family: 'Montserrat', sans-serif;">How are you?</h1>
        <span id="date_today">-----</span>
    </div>
    <br><br>
    <div class="screen_middle">
        <ons-row style="margin-top: 20%;">
            <ons-col class="grouping">
                <button class="mood_button" id="btn_rad">😄</button>
                <label class="activity_label">rad</label>
            </ons-col>
            <ons-col class="grouping">
                <button class="mood_button" id="btn_good">🙂</button>
                <label class="activity_label">good</label>
            </ons-col>
            <ons-col class="grouping">
                <button class="mood_button" id="btn_meh">😐</button>
                <label class="activity_label">meh</label>
            </ons-col>
            <ons-col class="grouping">
                <button class="mood_button" id="btn_bad">🙁</button>
                <label class="activity_label">bad</label>
            </ons-col>
            <ons-col class="grouping">
                <button class="mood_button" id="btn_awful">😖</button>
                <label class="activity_label">awful</label>
            </ons-col>
        </ons-row>
    </div>

    <div class="screen_bottom">
        <ons-button id="btn_continue" modifier="quiet">CONTINUE</ons-button>
    </div>

</ons-page>